<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<!--<ion-view view-title="{{product.title}}"  hide-tabs >-->
    <!--<ion-nav-buttons side="right">-->
        <!--<button class="button" ng-click="doSomething()">-->
           <!--分享-->
        <!--</button>-->
    <!--</ion-nav-buttons>-->

  <!--<ion-content >-->

    <!--<img ng-src="{{product.product_img_url}}" class="full-image" height="150px">-->
      <!--<div class="list">-->

          <!--<a class="item item-thumbnail-left" href="#">-->
              <!--<img src="{{product.product_img_url}}">-->
              <!--<h2>{{product.title}}</h2>-->
              <!--<div class="row">-->
                  <!--<div class="col-80"><h2 style="color: #ff4a3b">{{product.current_price}}</h2></div>-->
                  <!--<div class="col-20"><h6>20 次出价</h6></div>-->
              <!--</div>-->
              <!--<div class="row" style="padding-top: 20px">-->
                  <!--<div class="col"><h4 style="color: #ff4a3b">结束时间 2015-09-08</h4></div>-->

              <!--</div>-->
          <!--</a>-->


      <!--</div>-->
  <!--</ion-content>-->
<!--</ion-view>-->

<ion-view view-title="{{product.title}}" hide-tabs>
  <ion-content >
    <ion-refresher
      pulling-text="松开立即刷新..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="app-slider">
      <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <img src="{{product.product_img_url}}" >
        </ion-slide>
        <ion-slide>
          <img src="{{product.product_img_url}}" >
        </ion-slide>
        <ion-slide>
          <img src="{{product.product_img_url}}" >
        </ion-slide>
      </ion-slide-box>
    </div>

    <div class="list">

      <a class="item" >
        <h3>{{product.title}}</h3>
      </a>
      <a class="item" >

        <h4> 现 价：￥{{product.current_price}}</h4>
        <h4> 原 价：￥{{product.old_price}}</h4>

      </a>

      <div class="item item-divider">
        拍品参数
      </div>
      <a class="item">
        <h3>【分类】: 玉石</h3>
        <h3>【分类】: 玉石</h3>
        <h3>【分类】: 玉石</h3>
        <h3>【分类】: 玉石</h3>
        <h3>【分类】: 玉石</h3>
      </a>

      <a class="item item-icon-right" ng-click="modal.show()">
        <h3> 出价纪录</h3>
        <i class="icon ion-ios-arrow-right"></i>
      </a>


    </div>
    <ion-item class="item-loading" ng-if="replies == undefined">
        <span ng-if="!loadError">
          加载中...
        </span>
        <span ng-if="loadError">
          加载失败
        </span>
    </ion-item>
    <ion-item ng-if="replies.length == 0">
      暂无评论
    </ion-item>

    <a class="item"><span>评论 {{replies.length}}</span></a>
    <div class="list" ng-repeat=" reply in replies">

      <a class="item item-avatar" ng-click="showActions(reply)">
        <img src="http://pic20.nipic.com/20120414/9502787_015323910000_2.jpg">
        <h2>Venkman</h2>
        <h3>2015-8-8</h3>
        <p>{{reply.content}}</p>
      </a>

    </div>

    <ion-footer-bar align-title="left" class="bar-light " keyboard-attach>
      <label class="item-input-wrapper">
        <input type="text" placeholder="回复" ng-model="replyData.content" ng-disabled="false">
      </label>
      <button class="button button-small button-clear button-positive" ng-click="saveReply()" ng-class="{'disabled':false}">
        提交
      </button>
    </ion-footer-bar>

  </ion-content>
</ion-view>
