<ion-view view-title="首页" hide-nav-bar="true">
  <ion-content >
  <ion-refresher
    pulling-text="松开立即刷新..."
    on-refresh="doRefresh()">
  </ion-refresher>
      <div class="app-slider">
       <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide>
            <img src="http://pic20.nipic.com/20120414/9502787_015323910000_2.jpg" class="full-image">
        </ion-slide>
        <ion-slide>
            <img src="http://pic20.nipic.com/20120414/9502787_015323910000_2.jpg" class="full-image">
        </ion-slide>
        <ion-slide>
            <img src="http://pic20.nipic.com/20120414/9502787_015323910000_2.jpg" class="full-image">
        </ion-slide>
    </ion-slide-box>
    </div>

      <!--<button class="button button-light button-android" ng-class="{ 'button\-positive': demo == 'ios' }" ng-click="setPlatform('ios')">-->
          <!--iOS-->
      <!--</button>-->
      <!--<button class="button button-light button-android" ng-class="{ 'button\-positive': demo == 'android' }" ng-click="setPlatform('android')">-->
          <!--Android-->
      <!--</button>-->

      <div class="row">
          <div class="button-bar">
              <a class="button button-light " ng-class="{ 'button\-positive': auc_state == 'aucting' }" ng-click="setAucState('aucting')">
                  正在热卖
              </a>
              <a class="button button-light " ng-class="{ 'button\-positive': auc_state == 'over' }" ng-click="setAucState('over')">
                  已结束
              </a>
          </div>
      </div>

              <div class="list card" ng-repeat="new in news" >
                  <div class="item item-avatar">
                      <img ng-src="{{new.avatar}}">
                      <h2>{{new.title}}</h2>

                      <p>
                          <!--<button class="button button-small  button-assertive">-->
                              <!--<i class="icon ion-clock"></i> 距结束:{{new.createTime}}-->
                          <!--</button>-->
                            ￥100

                      </p>

                  </div>

                  <div class="item item-body" >
                      <a href="#/tab/shouye/news/{{new.id}}">
                          <img ng-src="{{new.firstImg}}" class="full-image">
                      </a>

                  </div>

                  <div class="item tabs tabs-secondary tabs-icon-left">
                      <a class="tab-item" href="#">
                          <i class="icon ion-ios-heart"></i>
                          1 人喜欢
                      </a>
                      <a class="tab-item" href="#">
                          <i class="icon ion-chatbox"></i>
                          10 条评论
                      </a>
                      <a class="tab-item" href="#">
                          <i class="icon ion-thumbsup"></i>
                          10 次出价
                      </a>
                  </div>
              </div>





  </ion-content>
</ion-view>
