<ion-view view-title="专区">


        <ion-content scroll="false">
            <ion-slide-box slide-tabs-scrollable="false" show-pager="false" ion-slide-tabs>
                <ion-slide ion-slide-tab-label="分类展馆" >
                    <ion-content>
                    <div class="row row-center" >
                        <div class="col"><img src="http://pic20.nipic.com/20120414/9502787_015323910000_2.jpg" class="full-image" ></div>
                        <div class="col"><img src="http://pic20.nipic.com/20120414/9502787_015323910000_2.jpg" class="full-image" ></div>
                    </div>
                    <div class="row row-center">
                        <div class="col"><img src="http://pic20.nipic.com/20120414/9502787_015323910000_2.jpg" class="full-image"></div>
                        <div class="col"><img src="http://pic20.nipic.com/20120414/9502787_015323910000_2.jpg" class="full-image"></div>
                    </div>
                    <div class="row row-center">
                        <div class="col"><img src="http://pic20.nipic.com/20120414/9502787_015323910000_2.jpg" class="full-image"></div>
                        <div class="col"><img src="http://pic20.nipic.com/20120414/9502787_015323910000_2.jpg" class="full-image"></div>
                    </div>
                    </ion-content>
                </ion-slide>
                <ion-slide ion-slide-tab-label="机构展馆">
                    <ion-content>
                    <div class="list">

                        <a class="item item-thumbnail-left" href="#">
                            <img src="http://pic20.nipic.com/20120414/9502787_015323910000_2.jpg">
                            <h2>黄花梨跑车</h2>

                            <p class="list-item-like">
                                    <i class="icon ion-ios-book-outline"></i>
                                    8个展品
                            <i class="icon ion-ios-heart-outline"></i>
                                    6人喜欢
                            </p>
                        </a>
                        <a class="item item-thumbnail-left" href="#">
                            <img src="http://pic20.nipic.com/20120414/9502787_015323910000_2.jpg">
                            <h2>黄花梨跑车</h2>

                            <p class="list-item-like">
                                <i class="icon ion-ios-book-outline"></i>
                                8个展品
                                <i class="icon ion-ios-heart-outline"></i>
                                6人喜欢
                            </p>
                        </a>
                        <a class="item item-thumbnail-left" href="#">
                            <img src="http://pic20.nipic.com/20120414/9502787_015323910000_2.jpg">
                            <h2>黄花梨跑车</h2>

                            <p class="list-item-like">
                                <i class="icon ion-ios-book-outline"></i>
                                8个展品
                                <i class="icon ion-ios-heart-outline"></i>
                                6人喜欢
                            </p>
                        </a>
                        <a class="item item-thumbnail-left" href="#">
                            <img src="http://pic20.nipic.com/20120414/9502787_015323910000_2.jpg">
                            <h2>黄花梨跑车</h2>

                            <p class="list-item-like">
                                <i class="icon ion-ios-book-outline"></i>
                                8个展品
                                <i class="icon ion-ios-heart-outline"></i>
                                6人喜欢
                            </p>
                        </a>
                        <a class="item item-thumbnail-left" href="#">
                            <img src="http://pic20.nipic.com/20120414/9502787_015323910000_2.jpg">
                            <h2>黄花梨跑车</h2>

                            <p class="list-item-like">
                                <i class="icon ion-ios-book-outline"></i>
                                8个展品
                                <i class="icon ion-ios-heart-outline"></i>
                                6人喜欢
                            </p>
                        </a>
                        <a class="item item-thumbnail-left" href="#">
                            <img src="http://pic20.nipic.com/20120414/9502787_015323910000_2.jpg">
                            <h2>黄花梨跑车</h2>

                            <p class="list-item-like">
                                <i class="icon ion-ios-book-outline"></i>
                                8个展品
                                <i class="icon ion-ios-heart-outline"></i>
                                6人喜欢
                            </p>
                        </a>

                    </div>
                    </ion-content>
                </ion-slide>
                <ion-slide ion-slide-tab-label="个人展馆">
                </ion-slide>
            </ion-slide-box>
        </ion-content>

</ion-view>
