<ion-view view-title="首页">
  <ion-content >
  <ion-refresher
    pulling-text="松开立即刷新..."
    on-refresh="doRefresh()">
  </ion-refresher>
      <div class="slider">
       <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide>
            <img src="http://pic20.nipic.com/20120414/9502787_015323910000_2.jpg" class="full-image">
        </ion-slide>
        <ion-slide>
            <img src="http://pic20.nipic.com/20120414/9502787_015323910000_2.jpg" class="full-image">
        </ion-slide>
        <ion-slide>
            <img src="http://pic20.nipic.com/20120414/9502787_015323910000_2.jpg" class="full-image">
        </ion-slide>
    </ion-slide-box>
    </div>

      <div class="list card" ng-repeat="new in news" >
      <div class="item item-avatar">
    <img ng-src="{{new.avatar}}">
    <h2>{{new.title}}</h2>
    <p>{{new.createTime}}</p>
  </div>

    <div class="item item-body" >
        <a href="#/tab/shouye/news/{{new.id}}">
    <img ng-src="{{new.firstImg}}" class="full-image">
        </a>
    <p>
      {{new.content}}
    </p>
    <p>
      <a href="#/tab/shouye/news/{{new.id}}" class="subdued">1 喜欢</a>
      <a href="#" class="subdued">5 评论</a>
    </p>
    </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      喜欢
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      评论
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      分享
    </a>
  </div>
</div>

</div>
  </ion-content>
</ion-view>
