<ion-view view-title="我的空间">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-gear-outline"  ng-click="doSomething()">
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="myProfile-title">
        <div class="row">
          <div class="col col-10"><img src="http://www.qq2013.org/uploads/allimg/140223/1641195108-7.jpg" /></div>
          <div class="col col-20 col-offset-10"><p>Jhone</p><br><p>西瓜籽</p></div>
        </div>
    </div>
    <tab-slide-box>
      <div class="tsb-icons">
        <div class="tsb-ic-wrp">
          <a href="" class="ion-ios-upload-outline"></a>
          <a href="javascript:;" class="ion-ios-download-outline"></a>
          <a href="javascript:;" class="ion-ios-heart-outline"></a>

        </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <h1>正在出售</h1>
        </ion-slide>
        <ion-slide>
          <h1>已出售</h1>
        </ion-slide>
        <ion-slide>
          <h1>已关注</h1>
        </ion-slide>


      </ion-slide-box>
    </tab-slide-box>
 </ion-content>
</ion-view>
