<ion-view view-title="发布">
 <ion-content>

   <div class="card" ng-if="!isLogin">
     <div class="item item-text-wrap text-center" >
       请先去登录哦.
     </div>

     <p>

     <button class="button button-outline button-block button-assertive">
       登 录
     </button>

     </p>
   </div>


     <form ng-if="isLogin">
     <div class="list">
         <label class="item item-input item-floating-label">
             <span class="input-label">物品名称</span>
             <input type="text" ng-model="newProduct.title" placeholder="请输入物品名称">
         </label>

         <label class="item item-input item-select">
             <div class="input-label">
                物品分类
             </div>
             <select ng-model="newProduct.category">
                 <option ng-repeat="category in categories" value="{{category.value}}">{{category.label}}</option>
             </select>
         </label>

         <label class="item item-input item-floating-label">
             <span class="input-label">物品简介</span>
             <textarea ng-model="newProduct.content" placeholder="说点什么吧..." rows="5"></textarea>
         </label>

         <label class="item item-input item-floating-label">
             <span class="input-label">价格￥</span>
             <input type="number" ng-model="newProduct.current_price" placeholder="价格 ￥0"></textarea>
         </label>

         <label class="item item-input item-floating-label">
             <span class="input-label">原价￥</span>
             <input type="number" ng-model="newProduct.old_price" placeholder="原价 ￥0"></textarea>
         </label>

         <div class="row" ng-repeat="image in images_list" ng-if="$index % 4 === 0">
             <div class="col col-25" ng-if="$index < images_list.length">
                 <img ng-src="{{images_list[$index]}} " height="64px" width="64px" />
     <span ng-click="deleAttachment($index)">
     <i class="ionic ion-ios-trash-outline"></i>
     </span>

             </div>
             <div class="col col-25" ng-if="$index + 1 < images_list.length">
                 <img ng-src="{{images_list[$index + 1]}}" height="64px" width="64px" />
     <span ng-click="deleAttachment($index)">
     <i class="ionic ion-ios-trash-outline"></i>
     </span>
             </div>
             <div class="col col-25" ng-if="$index + 2 < images_list.length">
                 <img ng-src="{{images_list[$index + 2]}}" height="64px" width="64px" />
     <span ng-click="deleAttachment($index)">
     <i class="ionic ion-ios-trash-outline"></i>
     </span>
             </div>
             <div class="col col-25" ng-if="$index + 3 < images_list.length">
                 <img ng-src="{{images_list[$index + 3]}}" height="64px" width="64px" />
             </div>
         </div>

         <button class="button button-outline button-positive" ng-click="addAttachment()">

             +
         </button>

         <button class="button button-block button-assertive" ng-click="publish()" ng-disabled="newProduct.title.length =='' || newProduct.content == ''">
            发 布
         </button>


     </div>
     </form>


 </ion-content>
</ion-view>
