
<ion-view view-title="玉石专场">

    <ion-nav-buttons side="right">
        <button class="button button-icon ion-navicon " ng-click="openPopover($event)">
        </button>
    </ion-nav-buttons>

    <ion-content>
      <div class="row">
          <div class="col-50">
              <div class="list card">

                  <div class="item item-avatar">
                      <img src="http://www.qq2013.org/uploads/allimg/140223/1641195108-7.jpg">
                      <h3>玉石要吗??????</h3>
                      <h2 style="color: #ff4a3b" >￥10,00</h2>
                  </div>

                  <div class="item item-image">
                      <img src="http://www.qq2013.org/uploads/allimg/140223/1641195108-7.jpg">
                  </div>

                  <div class="item tabs tabs-secondary tabs-icon-left">
                      <a class="tab-item" href="#">
                          <i class="icon ion-ios-heart-outline assertive"></i>
                          1 人喜欢
                      </a>

                      <a class="tab-item" href="#">
                          <i class="icon ion-ios-eye-outline assertive"></i>
                          10 次出价
                      </a>
                  </div>

              </div>
          </div>
          <div class="col-50">
              <div class="list card">

                  <div class="item item-avatar">
                      <img src="http://www.qq2013.org/uploads/allimg/140223/1641195108-7.jpg">
                      <h3>玉石要吗??????</h3>
                      <h2 style="color: #ff4a3b" >￥10,00</h2>
                  </div>

                  <div class="item item-image">
                      <img src="http://www.qq2013.org/uploads/allimg/140223/1641195108-7.jpg">
                  </div>

                  <div class="item tabs tabs-secondary tabs-icon-left">
                      <a class="tab-item" href="#">
                          <i class="icon ion-ios-heart-outline assertive"></i>
                          1 人喜欢
                      </a>

                      <a class="tab-item" href="#">
                          <i class="icon ion-ios-eye-outline assertive"></i>
                          10 次出价
                      </a>
                  </div>

              </div>
          </div>
      </div>

        <div class="row">
            <div class="col-50">
                <div class="list card">

                    <div class="item item-avatar">
                        <img src="http://www.qq2013.org/uploads/allimg/140223/1641195108-7.jpg">
                        <h3>玉石要吗??????</h3>
                        <h2 style="color: #ff4a3b" >￥10,00</h2>
                    </div>

                    <div class="item item-image">
                        <img src="http://www.qq2013.org/uploads/allimg/140223/1641195108-7.jpg">
                    </div>

                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                            <i class="icon ion-ios-heart-outline assertive"></i>
                            1 人喜欢
                        </a>

                        <a class="tab-item" href="#">
                            <i class="icon ion-ios-eye-outline assertive"></i>
                            10 次出价
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-50">
                <div class="list card">

                    <div class="item item-avatar">
                        <img src="http://www.qq2013.org/uploads/allimg/140223/1641195108-7.jpg">
                        <h3>玉石要吗??????</h3>
                        <h2 style="color: #ff4a3b" >￥10,00</h2>
                    </div>

                    <div class="item item-image">
                        <img src="http://www.qq2013.org/uploads/allimg/140223/1641195108-7.jpg">
                    </div>

                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                            <i class="icon ion-ios-heart-outline assertive"></i>
                            1 人喜欢
                        </a>

                        <a class="tab-item" href="#">
                            <i class="icon ion-ios-eye-outline assertive"></i>
                            10 次出价
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </ion-content>
</ion-view>