<ion-modal-view>
  <ion-header-bar class="bar bar-header">
    <h1 class="title">登录</h1>
    <button class="button button-clear" ng-click="modal.hide()">取消</button>
  </ion-header-bar>
    <ion-content style="background: url(http://www.qq2013.org/uploads/allimg/140223/1641195108-7.jpg) center; background-size: cover;">

      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">用户名</span>
          <input type="text" placeholder="用户名">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">密码</span>
          <input type="password" placeholder="密码">
        </label>

      </div>
      <button class="button button-block button-assertive sign-in-button">
        登 录
      </button>
    </ion-content>
</ion-modal-view>
