<ion-modal-view>
    <ion-header-bar class="bar bar-header">
        <h1 class="title">出价纪录</h1>
        <button class="button button-clear" ng-click="modal.hide()">取消</button>
    </ion-header-bar>
    <ion-content>
        <div class="list">

            <div class="item item-divider">
                <div class="row">
                    <div class="col col-15"><h4>状态</h4></div>
                    <div class="col col-25"><h4>用户</h4></div>
                    <div class="col col-35"><h4>价格</h4></div>
                    <div class="col col-25"><h4>时间</h4></div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col col-15"><h5>领先</h5></div>
                    <div class="col col-25"><h5>fasf</h5></div>
                    <div class="col col-35"><h5>￥666</h5></div>
                    <div class="col col-25"><h5>2015-8-8</h5></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>