/* Empty. Add your own CSS if you like */
.app-slider {
  height: 150px;
}
.list-item-like {
    margin-top: 40px;
}
.app-padding {
    flex-flow: column;
    padding: 6px;
}
/*.sign-in-modal {*/
/*.p {*/
/*margin: 48px 0;*/
/*}*/
/*}*/
/*.sign-in-button  {*/
  /*margin: 0 auto;*/
/*}*/
